@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding-inline: 20px;
  padding-block: 20px;
}

.search-bar-wrapper {
  display: flex;
  height: 30px;
}

.search-bar {
  outline: none;
  border: 1px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-button {
  border: 1px solid black;
  border-left: none;
  background-color: black;
  border-radius: 0 5px 5px 0;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  color: white;
}
