.favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  padding: 5px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: black;
  cursor: pointer;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}

.bookmark-icon {
  width: 20px;
  height: 20px;
}